# Travis CI (http://travis-ci.org/) is a continuous integration
# service for open source projects. This file configures it
# to run unit tests for docopt-go.

language: go

go:
    - 1.1.2
    - 1.2.1
    - tip

install: go get -d -v ./... && go build -v .

script: go test -v .
